<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>top page</title>
    <meta http-equiv="Content-Type"
          content="text/html; charset=UTF-8" />
    <style>
    h1 { font-size:18pt; font-weight:bold; color:gray; }
    body { font-size:13pt; color:gray; margin:5px 25px; }
    tr { margin:5px; }
    th { padding:5px; color:white; background:darkgray; }
    td { padding:5px; color:black; background:#e0e0ff; }
    table.navi {width:100%; background:white; }
    table.navi tr { background:white; }
    table.navi tr td { background:white; }
    .err { color:red; }
    </style>
</head>
<body>
<h1>Login</h1>
<p>Please enter your name.</p>
<table>
    <form method="post" action="/">
        <tr><td>名前</td>
            <td><input type="text" name="name" /></td></tr>
        <tr><td>本文</td>
            <td><textarea rows="3" cols="50" name="text"></textarea></td></tr>
        <tr><td></td><td><input type="submit" /></td></tr>
    </form>
</table>
</body>
</html>